---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - sync.rax.io
  resources:
  - nautobots
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - sync.rax.io
  resources:
  - nautobots/finalizers
  verbs:
  - update
- apiGroups:
  - sync.rax.io
  resources:
  - nautobots/status
  verbs:
  - get
  - patch
  - update
