apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# this is where our workflows currently run
namespace: argo-events

resources:
  - eventbus/eventbus-default.yaml
  - eventbus/poddisruptionbudget-eventbus-default-pdb.yaml
  - secrets/openstack-svc-acct.yaml
  - secrets/operate-workflow-sa.token.yaml
  - secrets/nautobot-token.yaml
  - sensors/debug-sensor.yaml
  - eventsources/nautobot-webhook.yaml
  - serviceaccounts/serviceaccount-sensor-submit-workflow.yaml
  - serviceaccounts/openstack-sensor-submit-workflow.yaml
  - workflowtemplates/nautobot-api.yaml
  - workflowtemplates/sync-provision-state-to-nautobot.yaml
  - workflowtemplates/node-events.yaml
  - workflowtemplates/undersync-device.yaml
  - workflowtemplates/undersync-switch.yaml
  - workflowtemplates/keystone-event-project.yaml
  - workflowtemplates/enroll-server.yaml
