apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - eventbus/eventbus-default.yaml
  - eventbus/poddisruptionbudget-eventbus-default-pdb.yaml
  - secrets/operate-workflow-sa.token.yaml
  - secrets/baremetal-manage.yaml
  - eventsources/nautobot-webhook.yaml
  - serviceaccounts/serviceaccount-sensor-submit-workflow.yaml
  - serviceaccounts/openstack-sensor-submit-workflow.yaml
  - workflowtemplates/nautobot-api.yaml
  - workflowtemplates/sync-provision-state-to-nautobot.yaml
  - workflowtemplates/undersync-switch.yaml
  - workflowtemplates/keystone-event-project.yaml
  - workflowtemplates/enroll-server.yaml
  - workflowtemplates/reclean-server.yaml
  - workflowtemplates/openstack-oslo-event.yaml
  - workflowtemplates/netapp-configure-net.yaml
  - workflowtemplates/ansible-run.yaml
  - workflowtemplates/inspect-server.yaml
  - workflowtemplates/bmc-password.yaml
  - workflowtemplates/server-firmware-update.yaml
  # Alert automation
  - sensors/alertmanager-webhook-sensor.yaml
  - eventsources/alertmanager-webhook-eventsource.yaml
  - workflowtemplates/alert-automation-neutron-agent-down.yaml

helmCharts:
  - name: nautobot-token
    namespace: argo-events
    valuesFile: nautobot-token-values.yaml

helmGlobals:
  chartHome: ../
