---
{{- range .Values.global.stores }}
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: {{ .name }}
spec:
  provider:
    kubernetes:
      remoteNamespace: {{ .remoteNamespace }}
      server:
        url: {{ .kubernetesServerUrl }}
        caProvider:
          type: Secret
          name: {{ .authSecret.name }}
          key: {{ .authSecret.crtKey }}
          namespace: {{ .authSecret.namespace }}
      auth:
        token:
          bearerToken:
            name: {{ .authSecret.name }}
            key: {{ .authSecret.tokenKey }}
            namespace: {{ .authSecret.namespace }}
---
{{- end }}
