---
version: "3.8"
name: understack-nautobot
services:
  nautobot:
    image: local/understack-nautobot:latest
    build:
      context: ../../.
      dockerfile: containers/nautobot/Dockerfile
    env_file:
      - "default-creds.env"
      - "development.env"
    environment:
      - PYTHONDONTWRITEBYTECODE=1
    ports:
      - "8000:8080"
    depends_on:
      redis:
        condition: "service_started"
      db:
        condition: "service_healthy"
    healthcheck:
      interval: "30s"
      timeout: "30s"
      start_period: "30s"
      retries: 15
  worker:
    image: local/understack-nautobot:latest
    build:
      context: ../../.
      dockerfile: containers/nautobot/Dockerfile
    entrypoint:
      - "sh"
      - "-c"  # this is to evaluate the $NAUTOBOT_LOG_LEVEL from the env and $$ because of docker-compose
      - "nautobot-server celery worker -l $$NAUTOBOT_LOG_LEVEL --events"
    env_file:
      - "default-creds.env"
      - "development.env"
    environment:
      - PYTHONDONTWRITEBYTECODE=1
    depends_on:
      nautobot:
        condition: "service_started"
    healthcheck:
      interval: "30s"
      timeout: "30s"  # its taking a long time to start sometimes
      start_period: "30s"
      retries: 10
      test: ["CMD", "bash", "-c", "nautobot-server celery inspect ping --destination celery@$$HOSTNAME"]  ## $$ because of docker-compose

  nautobot-celery-beats:
    image: local/understack-nautobot:latest
    build:
      context: ../../.
      dockerfile: containers/nautobot/Dockerfile
    environment:
      - PYTHONDONTWRITEBYTECODE=1
    entrypoint:
      - "sh"
      - "-c"  # this is to evaluate the $NAUTOBOT_LOG_LEVEL from the env and $$ because of docker-compose
      - "nautobot-server celery beat -l $$NAUTOBOT_LOG_LEVEL"
    env_file:
      - "default-creds.env"
      - "development.env"
    depends_on:
      nautobot:
        condition: "service_healthy"
    healthcheck:
      interval: "30s"
      timeout: "10s"
      start_period: "30s"
      retries: 3
      test: ["CMD", "python", "/opt/nautobot/nautobot_celery_beats_hcheck.py"]
