---
version: "3.8"
name: understack-nautobot
services:
  nautobot:
    environment:
      - "NAUTOBOT_DB_ENGINE=django.db.backends.postgresql"
  db:
    image: "postgres:16-alpine"
    env_file:
      - "default-creds.env"
      - "development.env"
    volumes:
      - "postgres_data:/var/lib/postgresql/data"
    healthcheck:
      test: "pg_isready --username=$$POSTGRES_USER --dbname=$$POSTGRES_DB"
      interval: "10s"
      timeout: "5s"
      retries: 10

volumes:
  postgres_data: {}
