repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.patch'
      - id: end-of-file-fixer
        exclude: '^docs/overrides'
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: check-merge-conflict
      - id: check-yaml
        args:
          - --allow-multiple-documents
        exclude: "mkdocs.yml"
      - id: check-yaml
        name: check-yaml-mkdocs
        # --unsafe is a workaround for the use of !! in mkdocs.yml
        args: [--unsafe]
        files: mkdocs.yml
      - id: check-symlinks
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: [-c, .yamllint.yaml]
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.28.4
    hooks:
      - id: check-jsonschema
        name: validate argo workflows / workflowtemplates
        args:
          - --schemafile
          - schema/argo-workflows.json
        files: "workflows/argo-events/workflowtemplates/.*.(yml|yaml)$"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.42.0
    hooks:
      - id: markdownlint
        files: '^docs/'
  - repo: https://github.com/crate-ci/typos
    rev: v1.26.8
    hooks:
      - id: typos
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.1
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/ansible/ansible-lint
    rev: v25.9.2
    hooks:
      - id: ansible-lint
        entry: "sh -c 'cd ansible && python3 -m ansiblelint -v --force-color'"
        verbose: true
        always_run: false
        additional_dependencies:
          - ansible-core==2.19.2
          - jmespath==1.0.1
        files: '^ansible/.*'
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.7.13
    hooks:
      - id: uv-lock
        name: cinder-understack
        args: ["-D", "python/cinder-understack"]
      - id: uv-lock
        name: diff-nautobot-understack
        args: ["-D", "python/diff-nautobot-understack"]
      - id: uv-lock
        name: ironic-understack
        args: ["-D", "python/ironic-understack"]
      - id: uv-lock
        name: neutron-understack
        args: ["-D", "python/neutron-understack"]
      - id: uv-lock
        name: understack-flavor-matcher
        args: ["-D", "python/understack-flavor-matcher"]
      - id: uv-lock
        name: understack-workflows
        args: ["-D", "python/understack-workflows"]
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 40.8.1
    hooks:
      - id: renovate-config-validator
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.387
    hooks:
    - id: pyright
      files: '^python/understack-workflows/'
      args: ["--threads", "python/understack-workflows"]
      additional_dependencies:
        # python-pyright stupidly does not allow local paths
        # https://github.com/pre-commit/pre-commit/issues/1752#issuecomment-754252663
        - "git+https://github.com/rackerlabs/understack.git@main#subdirectory=python/understack-flavor-matcher"
        - "kubernetes"
        - "pydantic"
        - "pynautobot"
        - "pytest"
        - "pytest-mock"
        - "pytest_lazy_fixtures"
        - "python-ironicclient"
        - "requests"
        - "sushy"
        - "types-requests"
        - "netapp-ontap==9.17.1.0"

  - repo: local
    hooks:
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        # uncomment this if you don't want to use docker version
        # entry: bash -c 'trufflehog --no-update git file://. --since-commit HEAD --results=verified,unknown --fail'
        entry: bash -c 'docker run --rm -v "$(pwd):/workdir" -i --rm trufflesecurity/trufflehog:latest git file:///workdir --since-commit HEAD --results=verified,unknown --fail'
        language: system
        stages: ["pre-push"]
