---
site_name: UnderStack
site_description: |-
  UnderStack is a collection of open-source tools and technologies that provides
  flexible, scalable, and cost-effective infrastructure management solution. The
  focus is on deploying bare metal in data centers with functional DCIM and IPAM.

theme:
  name: material
  logo: assets/logo.png
  favicon: assets/favicon.png

  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: rackspace-light
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: rackspace-dark
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - navigation.expand
    - navigation.indexes
    - navigation.instant
    - navigation.instant.progress
    - navigation.prune
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow

repo_name: rackerlabs/understack
repo_url: https://github.com/rackerlabs/understack
dev_addr: "127.0.0.1:8001"
edit_uri: "edit/main/docs"

copyright: Copyright &copy; 2024 Rackspace Technology, Inc.

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - md_in_html
  - pymdownx.caret
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.superfences:
      custom_fences:
        - name: python
          class: python
          validator: !!python/name:markdown_exec.validator
          format: !!python/name:markdown_exec.formatter
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.mark
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

extra_css:
  - stylesheets/rackspace-theme.css

plugins:
  - search
  - include_dir_to_nav:
      sort_file: true
      sort_directory: true
  - macros

validation:
  omitted_files: warn
  absolute_links: warn
  unrecognized_links: warn
  anchors: warn

extra:
  auth_url: !ENV [OS_AUTH_URL, "https://your.endpoint.url/v3"]
  region_name: !ENV [OS_REGION_NAME, "my-site"]

nav:
  - Home: index.md
  - Overview:
    - vision.md
    - 'Prerequisites':
      - kubernetes.md
      - openstack-helm.md
    - 'Configuration':
      - secrets.md
      - networking.md
    - Components:
      - component-overview.md
      - Networking:
        - component-networking-neutron.md
      - component-argo-workflows.md
      - component-understack-workflows.md
      - component-ansible.md
  - 'Design Guide':
    - design-guide/intro.md
    - design-guide/add-remove-app.md
    - 'Hardware Definitions':
      - design-guide/device-types.md
      - design-guide/hardware-traits.md
      - design-guide/flavors.md
    - design-guide/neutron-networking.md
    - design-guide/argo-workflows.md
    - design-guide/argo-events.md
  - 'Deployment Guide':
    - deploy-guide/welcome.md
    - deploy-guide/requirements.md
    - Quick Start: deploy-guide/gitops-install.md
    - Preparing Our Deployment:
      - deploy-guide/deploy-repo.md
      - deploy-guide/component-config.md
      - deploy-guide/config-dex.md
      - deploy-guide/config-openstack.md
      - deploy-guide/secrets-eso-setup.md
      - deploy-guide/openstack-automation-users.md
      - deploy-guide/nautobot-secrets.md
      - deploy-guide/auth.md
      - deploy-guide/config-argo-workflows.md
    - Starting the Deployment:
      - deploy-guide/management-cluster.md
    - Post Deployment:
      - deploy-guide/load-balancers.md
      - deploy-guide/testing-verification.md
      - deploy-guide/troubleshooting.md
    - Further Actions:
      - deploy-guide/extra-sites.md
      - deploy-guide/override-openstack-svc-config.md
  - 'Operator Guide':
    - operator-guide/index.md
    - 'OpenStack':
      - operator-guide/openstack-ironic.md
      - operator-guide/openstack-ironic-inspection-guide.md
      - operator-guide/openstack-ironic-change-boot-interface.md
      - operator-guide/openstack-neutron.md
      - operator-guide/openstack-placement.md
    - 'Networking':
      - operator-guide/openstack-neutron.md
      - operator-guide/ovs-ovn.md
    - 'Infrastructure':
      - operator-guide/workflows.md
      - operator-guide/monitoring.md
      - operator-guide/bmc-password.md
      - operator-guide/mariadb-operator.md
      - operator-guide/mariadb-upgrade-runbook.md
      - operator-guide/postgres-operator.md
      - operator-guide/rabbitmq.md
      - operator-guide/rook-ceph.md
      - operator-guide/nautobot.md
      - operator-guide/troubleshooting-osh.md
      - operator-guide/logging.md
      - operator-guide/ansible-local-usage.md
    - 'Hardware':
      - operator-guide/device-types.md
      - operator-guide/flavors.md
    - 'Scripts and Tools':
      - operator-guide/scripts.md
  - 'User Guide':
    - user-guide/index.md
    - user-guide/openstack-cli.md
    - user-guide/openstack-image.md
    - user-guide/openstack-resource-controller.md
  - Workflows: workflows/
