OS_AUTH_URL=https://keystone.dev.undercloud.rackspace.net/v3
OS_USERNAME=your-rally-user
OS_PASSWORD=testpassword
OS_TENANT_NAME=your-rally
OS_PROJECT_NAME=your-rally
OS_REGION_NAME=RegionOne
OS_ENDPOINT_TYPE=publicURL
OS_INTERFACE=public
OS_IDENTITY_API_VERSION=3
OS_USER_DOMAIN_NAME=Default
OS_PROJECT_DOMAIN_NAME=Default
