#
# UnderStack dnsmasq configuration - DNS only
#
# This config should be processed with jinja
#

# log to stderr
log-facility=-

# configs
conf-dir=/etc/dnsmasq.d

except-interface=lo
bind-interfaces

# DNS port to listen on
port={{ env.DNS_PORT | default(53) }}

# enable DNS logging
log-queries=extra
log-debug

# for now, do not set any resolv settings which results in us
# forwarding requests to kubedns within the cluster

# don't advertise /etc/hosts entries
no-hosts

# disable DHCP and TFTP
no-dhcp-interface=

# static DNS entries to reach UnderStack components
address=/.{{ env.DNS_ZONE }}/{{ env.INGRESS_IP }}

# end of template
