---

# typically overridden by environmental
# values, but should include all endpoints
# required by this chart
endpoints:
  oslo_messaging:
    statefulset:
      replicas: 3
      name: rabbitmq-server
    hosts:
      default: rabbitmq-nodes
  load_balancer:
    port:
      api:
        public: 443
    scheme:
      public: https
    host_fqdn_override:
      public:
        tls:
          secretName: octavia-tls-public
          issuerRef:
            name: understack-cluster-issuer
            kind: ClusterIssuer

network:
  # configure OpenStack Helm to use Undercloud's ingress
  # instead of expecting the ingress controller provided
  # by OpenStack Helm
  use_external_ingress_controller: true
  api:
    ingress:
      classes:
        namespace: nginx
      annotations:
        nginx.ingress.kubernetes.io/rewrite-target: /
        # set our default issuer
        cert-manager.io/cluster-issuer: understack-cluster-issuer
    external_policy_local: false
    node_port:
      enabled: false

conf:
  octavia:
    api_settings:
      enabled_provider_drivers: >-
        ovn: "The Octavia OVN driver"
      default_provider_driver: ovn
    driver_agent:
      enabled_provider_agents: ovn
    ovn:
      ovn_nb_connection: tcp:ovn-ovsdb-nb.openstack.svc.cluster.local:6641
      ovn_sb_connection: tcp:ovn-ovsdb-sb.openstack.svc.cluster.local:6642
    task_flow:
      jobboard_enabled: false

dependencies:
  dynamic:
    common:
      local_image_registry:
        jobs: null
  static:
    api:
      jobs:
        - octavia-db-sync
        - octavia-ks-user
        - octavia-ks-endpoints
    driver_agent:
      jobs:
        - octavia-db-sync
        - octavia-ks-user
        - octavia-ks-endpoints
    worker:
      jobs:
        - octavia-db-sync
        - octavia-ks-user
        - octavia-ks-endpoints
    housekeeping:
      jobs:
        - octavia-db-sync
        - octavia-ks-user
        - octavia-ks-endpoints
    health_manager:
      jobs:
        - octavia-db-sync
        - octavia-ks-user
        - octavia-ks-endpoints
    db_sync:
      jobs:

pod:
  mounts:
    octavia_db_sync:
      octavia_db_sync:
        volumeMounts:
          - name: octavia-etc-snippets
            mountPath: /etc/octavia/octavia.conf.d/
            readOnly: true
        volumes:
          - name: octavia-etc-snippets
            projected:
              sources:
                - secret:
                    name: octavia-ks-etc
    octavia_driver_agent:
      octavia_driver_agent:
        volumeMounts:
          - name: octavia-etc-snippets
            mountPath: /etc/octavia/octavia.conf.d/
            readOnly: true
        volumes:
          - name: octavia-etc-snippets
            projected:
              sources:
                - secret:
                    name: octavia-ks-etc
    octavia_api:
      octavia_api:
        volumeMounts:
          - name: octavia-etc-snippets
            mountPath: /etc/octavia/octavia.conf.d/
            readOnly: true
        volumes:
          - name: octavia-etc-snippets
            projected:
              sources:
                - secret:
                    name: octavia-ks-etc
    octavia_housekeeping:
      octavia_housekeeping:
        volumeMounts:
          - name: octavia-etc-snippets
            mountPath: /etc/octavia/octavia.conf.d/
            readOnly: true
        volumes:
          - name: octavia-etc-snippets
            projected:
              sources:
                - secret:
                    name: octavia-ks-etc
    octavia_health_manager:
      octavia_health_manager:
        volumeMounts:
          - name: octavia-etc-snippets
            mountPath: /etc/octavia/octavia.conf.d/
            readOnly: true
        volumes:
          - name: octavia-etc-snippets
            projected:
              sources:
                - secret:
                    name: octavia-ks-etc
  resources:
    enabled: true
    api:
      requests:
        memory: "512Mi"

manifests:
  job_db_init: false
  job_rabbit_init: false
  pod_rally_test: false
  secret_db: true
  service_ingress_api: false
  # We set the `secret_keystone` and `secret_ks_etc` to false in order to disable
  # Kubernetes section generation in OpenStack Helm, because we want those
  # to be generated indirectly via ESO as configured in keystoneServiceUsers.enabled
  # that is later consumed via components/openstack helm chart
  secret_keystone: false
  secret_ks_etc: false

annotations:
  # we need to modify the annotations on OpenStack Helm
  # jobs because they use helm.sh/hooks: post-install,post-upgrade
  # which means they will get applied in the post phase which
  # is after the API deployment. With standard helm this works
  # out because it just orders how things are applied but with
  # ArgoCD it will wait until the sync phase is successful.
  # Unfortunately the API deployments need several jobs to occur
  # before it will go successful like creating the keystone user,
  # service, endpoints and syncing the DB. These jobs also have
  # a helm.sh/hook-weight to order them which is good but by moving
  # them to the sync phase the weight is now wrong with resources
  # they depend on like secrets and configmaps so we need to
  # override them to 0 because there is no way in OpenStack Helm
  # to set annotations on deployments and daemonssets nicely.
  # Other jobs might need to be moved as well. We do this by
  # moving them to the sync phase. Additionally since the jobs
  # are using fixed names and not generated names for each run
  # ArgoCD attempts to edit them but they have immutable fields
  # so we must force the replacement instead of attempting to diff them.
  # Lastly the hook-delete-policy controls the finalizer which
  # prevents the deletion of the job. In this case we're saying
  # the old job needs to be removed before applying the new one
  # which gets around the immutable case above.
  job:
    octavia_db_sync:
      argocd.argoproj.io/hook: Sync
      argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
      argocd.argoproj.io/sync-options: Force=true
      argocd.argoproj.io/sync-wave: "0"
    octavia_ks_service:
      argocd.argoproj.io/hook: Sync
      argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
      argocd.argoproj.io/sync-options: Force=true
      argocd.argoproj.io/sync-wave: "0"
    octavia_ks_user:
      argocd.argoproj.io/hook: Sync
      argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
      argocd.argoproj.io/sync-options: Force=true
      argocd.argoproj.io/sync-wave: "0"
    octavia_ks_endpoints:
      argocd.argoproj.io/hook: Sync
      argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
      argocd.argoproj.io/sync-options: Force=true
      argocd.argoproj.io/sync-wave: "0"
    octavia_bootstrap:
      # relies on the service to be up so can remain post
      argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
      argocd.argoproj.io/sync-options: Force=true
