## configure argo-server namespaced and to set to server mode to disable auth until auth can be worked out
- op: replace
  path: /spec/template/spec/containers/0/args
  value:
    - server
    - --auth-mode=server
    # - --auth-mode=client
    - --namespaced
    - --managed-namespace
    - argo-events
