---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml

helmGlobals:
  chartHome: ../../charts/

helmCharts:
- name: mariadb-operator
  includeCRDs: true
  namespace: mariadb-operator
  valuesFile: values.yaml
  releaseName: mariadb-operator
  version: 0.24.0
  repo: https://mariadb-operator.github.io/mariadb-operator
