---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
- name: external-secrets
  includeCRDs: true
  namespace: external-secrets
  releaseName: external-secrets
  version: 0.10.4
  repo: https://charts.external-secrets.io
