---
release_group: null

network:
  # configure OpenStack Helm to use Undercloud's ingress
  # instead of expecting the ingress controller provided
  # by OpenStack Helm
  use_external_ingress_controller: true

# (nicholas.kuechler) updating the jobs list to remove the 'placement-db-init' job.
dependencies:
  dynamic:
    common:
      local_image_registry:
        jobs: null
  static:
    db_sync:
      jobs:

pod:
  mounts:
    placement_db_sync:
      placement_db_sync:
        volumeMounts:
          - name: placement-etc-snippets
            mountPath: /etc/placement/placement.conf.d/
            readOnly: true
        volumes:
          - name: placement-etc-snippets
            projected:
              sources:
                - secret:
                    name: placement-ks-etc
    placement:
      placement:
        volumeMounts:
          - name: placement-etc-snippets
            mountPath: /etc/placement/placement.conf.d/
            readOnly: true
        volumes:
          - name: placement-etc-snippets
            projected:
              sources:
                - secret:
                    name: placement-ks-etc
  lifecycle:
    disruption_budget:
      api:
        # this should be set to no more than (pod.replicas.api - 1)
        # usually set on per-deployment basis.
        min_available: 0
  resources:
    enabled: true

endpoints:
  placement:
    scheme:
      public: 'https'
    port:
      api:
        public: 443
    host_fqdn_override:
      public:
        tls:
          secretName: placement-tls-public
          issuerRef:
            name: understack-cluster-issuer
            kind: ClusterIssuer

manifests:
  job_db_init: false
  secret_db: false
  service_ingress: false
  # We set the `secret_keystone` and `secret_ks_etc` to false in order to disable
  # Kubernetes section generation in OpenStack Helm, because we want those
  # to be generated indirectly via ESO as configured in keystoneServiceUsers.enabled
  # that is later consumed via components/openstack helm chart
  secret_keystone: false
  secret_ks_etc: false
  ingress: false

annotations:
  # we need to modify the annotations on OpenStack Helm
  # jobs because they use helm.sh/hooks: post-install,post-upgrade
  # which means they will get applied in the post phase which
  # is after the API deployment. With standard helm this works
  # out because it just orders how things are applied but with
  # ArgoCD it will wait until the sync phase is successful.
  # Unfortunately the API deployments need several jobs to occur
  # before it will go successful like creating the keystone user,
  # service, endpoints and syncing the DB. These jobs also have
  # a helm.sh/hook-weight to order them which is good but by moving
  # them to the sync phase the weight is now wrong with resources
  # they depend on like secrets and configmaps so we need to
  # override them to 0 because there is no way in OpenStack Helm
  # to set annotations on deployments and daemonssets nicely.
  # Other jobs might need to be moved as well. We do this by
  # moving them to the sync phase. Additionally since the jobs
  # are using fixed names and not generated names for each run
  # ArgoCD attempts to edit them but they have immutable fields
  # so we must force the replacement instead of attempting to diff them.
  # Lastly the hook-delete-policy controls the finalizer which
  # prevents the deletion of the job. In this case we're saying
  # the old job needs to be removed before applying the new one
  # which gets around the immutable case above.
  job:
    placement_db_sync:
      argocd.argoproj.io/hook: Sync
      argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
      argocd.argoproj.io/sync-options: Force=true
      argocd.argoproj.io/sync-wave: "0"
    placement_ks_service:
      argocd.argoproj.io/hook: Sync
      argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
      argocd.argoproj.io/sync-options: Force=true
      argocd.argoproj.io/sync-wave: "0"
    placement_ks_user:
      argocd.argoproj.io/hook: Sync
      argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
      argocd.argoproj.io/sync-options: Force=true
      argocd.argoproj.io/sync-wave: "0"
    placement_ks_endpoints:
      argocd.argoproj.io/hook: Sync
      argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
      argocd.argoproj.io/sync-options: Force=true
      argocd.argoproj.io/sync-wave: "0"
