---
apiVersion: v1
kind: Secret
data:
  config: {{ .Config | b64enc }}
  name: {{ .Name | b64enc }}
  server: {{ .Server | b64enc }}
metadata:
  name: {{ .DEPLOY_NAME }}-cluster
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: cluster
    understack.rackspace.com/argocd: enabled
  annotations:
    uc_repo_git_url: "https://github.com/rackerlabs/understack.git"
    uc_repo_ref: "HEAD"
    uc_deploy_git_url: "{{ .UC_DEPLOY_GIT_URL }}"
    uc_deploy_ref: "HEAD"
