---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - mariadb-configmap.yaml
  - mariadb-instance.yaml
  - openstack-cluster.yaml
  # a secret store that let's us copy creds to other namespaces
  # for service accounts
  - secretstore-openstack.yaml
  # defines the service account 'argoworkflow' used by our workflows
  - svc-acct-argoworkflow.yaml

helmCharts:
  - name: memcached
    repo: https://charts.bitnami.com/bitnami
    version: 6.14.0
    namespace: openstack
    releaseName: memcached
    valuesFile: memcached-values.yaml
