---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - https://github.com/argoproj/argo-events/releases/download/v1.9.8/install.yaml
  - https://github.com/argoproj/argo-events/releases/download/v1.9.8/install-validating-webhook.yaml

  # grant the argo-workflows the ability to run workflows in this namespace
  - workflow-controller-rolebinding.yaml
  # grant the argo-server the ability to see workflows in this namespace
  - argo-server-rolebinding.yaml

  ## configure webhook Sensor and associated role
  - sensor-workflow-role.yaml
  - workflow-role.yaml

  - configmaps.yaml

  ## copy openstack/cinder-netapp-config to argo-events/netapp-config
  - secret-netapp.yaml
