---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml

helmGlobals:
  chartHome: ../../charts/

helmCharts:
- name: cloudnative-pg
  includeCRDs: true
  namespace: cnpg-system
  valuesFile: values.yaml
  releaseName: cloudnative-pg
  version: 0.26.1
  repo: https://cloudnative-pg.github.io/charts
