---
component: monitoring
sources:
  - repoURL: https://prometheus-community.github.io/helm-charts
    chart: prometheus-operator-crds
    targetRevision: 24.0.2
    helm:
      releaseName: prometheus-operator-crds
  - repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 79.5.0
    helm:
      releaseName: kube-prometheus-stack
      valueFiles:
        - $understack/operators/monitoring/values.yaml
        - $deploy/{{.name}}/helm-configs/monitoring.yaml
      ignoreMissingValueFiles: true
  - ref: understack
    path: 'operators/monitoring'
  - ref: deploy
    path: '{{.name}}/manifests/monitoring'
