OS_USERNAME=flavorsync
OS_PASSWORD=abcd1234
OS_AUTH_URL=https://keystone.environment.undercloud.rackspace.net/v3
OS_USER_DOMAIN_NAME=service
OS_PROJECT_NAME=admin
OS_PROJECT_DOMAIN_NAME=default
FLAVORS_DIR=/home/someuser/flavors/
FLAVORS_ENV=nonprod
