# Defaults: https://opendev.org/openstack/openstack-helm/src/branch/master/keystone/values.yaml
---
release_group: null

bootstrap:
  enabled: true
  ks_user: admin
  script: |
    ansible-runner run /runner --playbook keystone-post-deploy.yaml -vv

network:
  # configure OpenStack Helm to use Undercloud's ingress
  # instead of expecting the ingress controller provided
  # by OpenStack Helm
  use_external_ingress_controller: true
  api:
    ingress:
      annotations:
        nginx.ingress.kubernetes.io/rewrite-target: /
        # set our default issuer
        cert-manager.io/cluster-issuer: understack-cluster-issuer

dependencies:
  static:
    db_sync:
      jobs:
        - keystone-credential-setup
        - keystone-fernet-setup

pod:
  resources:
    enabled: true
    api:
      requests:
        memory: "512Mi"
      limits:
        memory: "2048Mi"
    jobs:
      bootstrap:
        requests:
          memory: "64Mi"
          cpu: "100m"
        limits:
          memory: "4096Mi"
      domain_manage:
        requests:
          memory: "64Mi"
          cpu: "100m"
        limits:
          memory: "4096Mi"
      db_init:
        requests:
          memory: "64Mi"
          cpu: "100m"
        limits:
          memory: "4096Mi"
      db_sync:
        requests:
          memory: "64Mi"
          cpu: "100m"
        limits:
          memory: "4096Mi"
      db_drop:
        requests:
          memory: "64Mi"
          cpu: "100m"
        limits:
          memory: "4096Mi"
      rabbit_init:
        requests:
          memory: "64Mi"
          cpu: "100m"
        limits:
          memory: "4096Mi"
      tests:
        requests:
          memory: "64Mi"
          cpu: "100m"
        limits:
          memory: "4096Mi"
      fernet_setup:
        requests:
          memory: "64Mi"
          cpu: "100m"
        limits:
          memory: "4096Mi"
      fernet_rotate:
        requests:
          memory: "64Mi"
          cpu: "100m"
        limits:
          memory: "4096Mi"
      credential_setup:
        requests:
          memory: "64Mi"
          cpu: "100m"
        limits:
          memory: "4096Mi"
      credential_rotate:
        requests:
          memory: "64Mi"
          cpu: "100m"
        limits:
          memory: "4096Mi"
      credential_cleanup:
        requests:
          memory: "64Mi"
          cpu: "100m"
        limits:
          memory: "4096Mi"
      image_repo_sync:
        requests:
          memory: "64Mi"
          cpu: "100m"
        limits:
          memory: "4096Mi"
  probes:
    api:
      api:
        readiness:
          enabled: true
          params:
            initialDelaySeconds: 15
            periodSeconds: 60
            timeoutSeconds: 15
        liveness:
          enabled: true
          params:
            initialDelaySeconds: 50
            periodSeconds: 60
            timeoutSeconds: 15
  mounts:
    keystone_api:
      keystone_api:
        volumeMounts:
          - name: keystone-sso
            mountPath: /etc/keystone-sso
            readOnly: true
          - name: oidc-secret
            mountPath: /etc/oidc-secret
            readOnly: true
          - name: keystone-bin
            mountPath: /var/www/cgi-bin/keystone/keystone-wsgi-public
            readOnly: true
            subPath: wsgi.py
        volumes:
          - name: keystone-sso
            secret:
              secretName: keystone-sso
          - name: oidc-secret
            secret:
              secretName: sso-passphrase
    keystone_bootstrap:
      keystone_bootstrap:
        volumeMounts:
          - name: ansible-inventory
            mountPath: /runner/inventory/
          - name: ansible-group-vars
            mountPath: /runner/inventory/group_vars/
        volumes:
          - name: ansible-inventory
            configMap:
              name: ansible-inventory
          - name: ansible-group-vars
            configMap:
              name: ansible-group-vars
  replicas:
    api: 2
  lifecycle:
    disruption_budget:
      api:
        # this should be set to no more than (pod.replicas.api - 1)
        # usually set on per-deployment basis.
        min_available: 0

conf:
  keystone:
    auth:
      methods: password,token,openid,mapped,application_credential
    openid:
      remote_id_attribute: HTTP_OIDC_ISS
    federation:
      trusted_dashboard:
        type: multistring
        values:
          - http://localhost:9990/auth/websso/
          # - https://yourinstance.of.horizon.example.com/auth/websso/
      default_authorization_ttl: 720
    cache:
      backend_argument: memcached_expire_time:3600
    DEFAULT:
      max_token_size: 512

  wsgi_keystone: |
    {{- $portInt := tuple "identity" "service" "api" $ | include "helm-toolkit.endpoints.endpoint_port_lookup" }}

    Listen 0.0.0.0:{{ $portInt }}

    LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
    LogFormat "%{X-Forwarded-For}i %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" proxy

    SetEnvIf X-Forwarded-For "^.*\..*\..*\..*" forwarded
    CustomLog /dev/stdout combined env=!forwarded
    CustomLog /dev/stdout proxy env=forwarded
    ErrorLogFormat "%{cu}t %M"
    ErrorLog /dev/stdout

    <VirtualHost *:{{ $portInt }}>
        WSGIDaemonProcess keystone-public processes=1 threads=1 user=keystone group=keystone display-name=%{GROUP}
        WSGIProcessGroup keystone-public
        WSGIScriptAlias / /var/www/cgi-bin/keystone/keystone-wsgi-public
        WSGIApplicationGroup %{GLOBAL}
        WSGIPassAuthorization On
        ErrorLogFormat "%{cu}t %M"
        ErrorLog /dev/stdout

        SetEnvIf X-Forwarded-For "^.*\..*\..*\..*" forwarded
        CustomLog /dev/stdout combined env=!forwarded
        CustomLog /dev/stdout proxy env=forwarded

        # This is what keystone expects
        OIDCClaimPrefix "OIDC-"
        # lists need to be string-ified and keystone expects items to be delimited with a ;
        OIDCClaimDelimiter ;

        # being behind an Ingress or Gateway means we need to utilize these headers
        OIDCXForwardedHeaders X-Forwarded-Host X-Forwarded-Proto X-Forwarded-Port

        # OIDC provider's .well-known/configuration URL
        OIDCProviderMetadataURL {{ tuple "dex" "internal" "dex" $ | include "helm-toolkit.endpoints.keystone_endpoint_uri_lookup" }}
        # Client / Application Identifier and Secret
        OIDCClientID keystone
        OIDCClientSecret "exec:/bin/cat /etc/keystone-sso/client-secret"
        # use the recommended code flow and not hybrid
        OIDCResponseType "code"
        {{- if hasKey $.Values.conf "oidc" }}
        {{- range $key, $value := .Values.conf.oidc }}
        OIDC{{ $key | camelcase }} {{ $value | quote }}
        {{- end }}
        {{- end }}

        # set the REMOTE_USER to the value of preferred_username
        OIDCRemoteUserClaim preferred_username
        # scopes that we want to request
        OIDCScope "openid email profile groups"

        # key that the JWT is encrypted/signed with, must be the same for
        # all running keystones
        OIDCCryptoPassphrase "exec:/bin/cat /etc/oidc-secret/password"

        # setup shared caching between multiple keystones by using memcache
        OIDCSessionType server-cache
        OIDCCacheType memcache
        OIDCMemCacheServers "memcached.openstack.svc.cluster.local:11211"

        # avoid redirect issues per the following
        # https://review.opendev.org/c/openstack/keystone/+/925553
        OIDCRedirectURI https://{{- tuple "identity" "public" $ | include "helm-toolkit.endpoints.hostname_fqdn_endpoint_lookup" -}}/redirect_uri
        <Location ~ "/redirect_uri">
          Require valid-user
          AuthType openid-connect
        </Location>

        # add using the identity provider 'sso' with the protocol 'openid'
        <Location /v3/OS-FEDERATION/identity_providers/sso/protocols/openid/auth>
          Require valid-user
          AuthType openid-connect
        </Location>
        # websso support
        <Location /v3/auth/OS-FEDERATION/websso/openid>
          Require valid-user
          AuthType openid-connect
        </Location>
        <Location /v3/auth/OS-FEDERATION/identity_providers/sso/protocols/openid/websso>
          Require valid-user
          AuthType openid-connect
        </Location>
    </VirtualHost>


# typically overridden by environmental
# values, but should include all endpoints
# required by this chart
endpoints:
  oslo_messaging:
    statefulset:
      replicas: 3
      name: rabbitmq-server
    hosts:
      default: rabbitmq-nodes
  identity:
    # upstream uses 'keystone' here which causes traffic to go via an internal ingress
    # which is wired back to keystone-api via the service_ingress_api manifest. just
    # go direct to the service
    default: keystone-api
    scheme:
      public: https
    port:
      api:
        public: 443
    host_fqdn_override:
      public:
        tls:
          secretName: keystone-tls-public
          issuerRef:
            name: understack-cluster-issuer
            kind: ClusterIssuer
  # default to dex in the same cluster for AIO
  dex:
    namespace: dex
    hosts:
      default: dex
    host_fqdn_override:
      # override this when using a full deployment
      # to the actual hostname of dex
      default: null
    scheme:
      # override this to https when full deployment
      default: http
    port:
      dex:
        # override this when full deployment
        default: 5556
    path: '/.well-known/openid-configuration'

manifests:
  job_credential_cleanup: false
  job_db_init: false
  job_rabbit_init: false
  pod_rally_test: false
  secret_db: false
  service_ingress_api: false
  # these next two we create ourselves to avoid helm hooks issues
  secret_credential_keys: false
  secret_fernet_keys: false
  # We set the `secret_keystone` and `secret_ks_etc` to false in order to disable
  # Kubernetes section generation in OpenStack Helm, because we want those
  # to be generated indirectly via ESO as configured in keystoneServiceUsers.enabled
  # that is later consumed via components/openstack helm chart
  secret_keystone: false
  secret_ks_etc: false

annotations:
  # we need to modify the annotations on OpenStack Helm
  # jobs because they use helm.sh/hooks: post-install,post-upgrade
  # which means they will get applied in the post phase which
  # is after the API deployment. With standard helm this works
  # out because it just orders how things are applied but with
  # ArgoCD it will wait until the sync phase is successful.
  # Unfortunately the API deployments need several jobs to occur
  # before it will go successful like creating the keystone user,
  # service, endpoints and syncing the DB. These jobs also have
  # a helm.sh/hook-weight to order them which is good but by moving
  # them to the sync phase the weight is now wrong with resources
  # they depend on like secrets and configmaps so we need to
  # override them to 0 because there is no way in OpenStack Helm
  # to set annotations on deployments and daemonssets nicely.
  # Other jobs might need to be moved as well. We do this by
  # moving them to the sync phase. Additionally since the jobs
  # are using fixed names and not generated names for each run
  # ArgoCD attempts to edit them but they have immutable fields
  # so we must force the replacement instead of attempting to diff them.
  # Lastly the hook-delete-policy controls the finalizer which
  # prevents the deletion of the job. In this case we're saying
  # the old job needs to be removed before applying the new one
  # which gets around the immutable case above.
  job:
    keystone_db_sync:
      argocd.argoproj.io/hook: Sync
      argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
      argocd.argoproj.io/sync-options: Force=true
      argocd.argoproj.io/sync-wave: "0"
    keystone_fernet_setup:
      argocd.argoproj.io/hook: Sync
      argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
      argocd.argoproj.io/sync-options: Force=true
      argocd.argoproj.io/sync-wave: "0"
    keystone_credential_setup:
      argocd.argoproj.io/hook: Sync
      argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
      argocd.argoproj.io/sync-options: Force=true
      argocd.argoproj.io/sync-wave: "0"
    keystone_domain_manage:
      argocd.argoproj.io/hook: Sync
      argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
      argocd.argoproj.io/sync-options: Force=true
    keystone_bootstrap:
      # relies on services to be up so it can remain post
      argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
      argocd.argoproj.io/sync-options: Force=true
