apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://github.com/rabbitmq/cluster-operator/releases/download/v2.10.0/cluster-operator.yml

# this needs to be here to remove the namespace from the above
# because the cluster-operator defines the same namespace and it would conflict
patches:
- patch: |-
    apiVersion: v1
    kind: Namespace
    metadata:
      name: rabbitmq-system
    $patch: delete
