---
name: build-container-images

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "containers/python311_alpine/**"
      - "containers/python312_alpine/**"
  push:
    branches:
      - main
    paths:
      - "containers/python311_alpine/**"
      - "containers/python312_alpine/**"
  merge_group:
    types: [checks_requested]

# bump container versions here, they will be populated to tags and labels
env:
  VERSION_PYTHON311: 0.0.1
  VERSION_PYTHON312: 0.0.1

jobs:
  build-ghcr-registry:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Login to ghcr.io
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: "ghcr.io"
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and deploy Python 3.11 image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: containers/python311_alpine/
          file: containers/python311_alpine/Dockerfile
          # push for all main branch commits
          push: ${{ github.event_name != 'pull_request' }}
          tags: ghcr.io/${{ github.repository }}/argo-python3.11.8-alpine3.19:latest,ghcr.io/${{ github.repository }}/argo-python3.11.8-alpine3.19:${{ env.VERSION_PYTHON311 }}
          labels: |
              org.opencontainers.image.version=${{ env.VERSION_PYTHON311 }}

      - name: Build and deploy Python 3.12 image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: containers/python312_alpine/
          file: containers/python312_alpine/Dockerfile
          # push for all main branch commits
          push: ${{ github.event_name != 'pull_request' }}
          tags: ghcr.io/${{ github.repository }}/argo-python3.12.2-alpine3.19:latest,ghcr.io/${{ github.repository }}/argo-python3.12.2-alpine3.19:${{ env.VERSION_PYTHON312 }}
          labels: |
              org.opencontainers.image.version=${{ env.VERSION_PYTHON312 }}
