---
name: build-container-images

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "containers/argo_utils/**"
      - "containers/obm-utils/**"
      - "containers/python311_alpine/**"
      - "containers/python312_alpine/**"
  push:
    branches:
      - main
    paths:
      - "containers/argo_utils/**"
      - "containers/obm-utils/**"
      - "containers/python311_alpine/**"
      - "containers/python312_alpine/**"

# bump container versions here, they will be populated to tags and labels
env:
  VERSION_PYTHON311: 0.0.1
  VERSION_PYTHON312: 0.0.1
  VERSION_ARGO_UTILS: 0.0.1
  VERSION_OBM_UTILS: 0.0.1
  VERSION_PYTHON_NAUTOBOT: 0.0.1

jobs:
  build-ghcr-registry:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ghcr.io
        if: ${{ github.event_name != 'pull_request' }}
        uses: docker/login-action@v3
        with:
          registry: "ghcr.io"
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and deploy Python 3.11 image
        uses: docker/build-push-action@v5
        with:
          context: containers/python311_alpine/
          file: containers/python311_alpine/Dockerfile.python311_alpine
          # push for all main branch commits
          push: ${{ github.event_name != 'pull_request' }}
          tags: ghcr.io/${{ github.repository }}/argo-python3.11.8-alpine3.19:latest,ghcr.io/${{ github.repository }}/argo-python3.11.8-alpine3.19:${{ env.VERSION_PYTHON311 }}
          labels: |
              org.opencontainers.image.version=${{ env.VERSION_PYTHON311 }}

      - name: Build and deploy Python 3.12 image
        uses: docker/build-push-action@v5
        with:
          context: containers/python312_alpine/
          file: containers/python312_alpine/Dockerfile.python312_alpine
          # push for all main branch commits
          push: ${{ github.event_name != 'pull_request' }}
          tags: ghcr.io/${{ github.repository }}/argo-python3.12.2-alpine3.19:latest,ghcr.io/${{ github.repository }}/argo-python3.12.2-alpine3.19:${{ env.VERSION_PYTHON312 }}
          labels: |
              org.opencontainers.image.version=${{ env.VERSION_PYTHON312 }}

      - name: Build and deploy Argo Utils image
        uses: docker/build-push-action@v5
        with:
          context: containers/argo_utils/
          file: containers/argo_utils/Dockerfile.argo_utils
          # push for all main branch commits
          push: ${{ github.event_name != 'pull_request' }}
          tags: ghcr.io/${{ github.repository }}/argo-utils-python3.11.8:latest,ghcr.io/${{ github.repository }}/argo-utils-python3.11.8:${{ env.VERSION_ARGO_UTILS }}
          labels: |
              org.opencontainers.image.version=${{ env.VERSION_ARGO_UTILS }}

      - name: Build and deploy OBM Utils image
        uses: docker/build-push-action@v5
        with:
          context: containers/obm-utils/
          file: containers/obm-utils/Dockerfile.obm_utils
          # push for all main branch commits
          push: ${{ github.event_name != 'pull_request' }}
          tags: ghcr.io/${{ github.repository }}/argo-obm-utils-python3.11.8:latest,ghcr.io/${{ github.repository }}/argo-obm-utils-python3.11.8:${{ env.VERSION_OBM_UTILS }}
          labels: |
              org.opencontainers.image.version=${{ env.VERSION_OBM_UTILS }}
