name: code tests

on:
  push:
    branches:
      - main
    paths:
      - "python/**"
      - ".github/workflows/code-test.yaml"
  pull_request:
    paths:
      - "python/**"
      - ".github/workflows/code-test.yaml"
  workflow_dispatch:
  merge_group:
    types: [checks_requested]

# limit rapid succession from pushes
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  discover:
    runs-on: ubuntu-latest
    outputs:
      projects: ${{ steps.set-projects.outputs.projects }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Find all projects with pyproject.toml
        id: set-projects
        run: |
          # grabs all paths with pyproject.toml, snips the 2nd dir, grabs only unique ones, makes a JSON list
          projects=$(find python -mindepth 2 ! -wholename 'python/understack-tests/*' -name pyproject.toml | awk -F/ '{print $2}' | sort -u | jq -R -s -c 'split("\n")[:-1]')
          echo "projects=$projects" >> "$GITHUB_OUTPUT"

  uv:
    needs: [discover]
    runs-on: ubuntu-latest

    strategy:
      matrix:
        project: ${{ fromJson(needs.discover.outputs.projects) }}

    defaults:
      run:
        working-directory: ./python/${{ matrix.project }}

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version-file: python/${{ matrix.project }}/pyproject.toml
      - run: uv sync
      - run: uv build --wheel
      - run: |
          set -e
          if [ -e .stestr.conf ]; then
            uv run stestr run
          else
            uv run pytest --cov --cov-report xml:coverage.xml
          fi
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: coverage-${{ matrix.project }}
          path: python/${{ matrix.project }}/coverage.xml
          retention-days: 1


  coverage-upload:
    needs: [uv]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5
        with:
          pattern: coverage-*
          merge-multiple: true
      - run: |
          npx cobertura-merge-globby -o output.xml --files=python/**/coverage.xml
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: coverage.xml
          path: coverage.xml
          retention-days: 1
