name: Build non-OpenStack containers

on:
  push:
    tags:
      - v*
    branches:
      - main
    paths:
      - "ansible/**"
      - "containers/**"
      - "python/**"
      - ".github/workflows/containers.yaml"
      - ".github/workflows/build-container-reuse.yaml"
  pull_request:
    types: [opened, synchronize, reopened, closed]
    paths:
      - "ansible/**"
      - "containers/**"
      - "python/**"
      - ".github/workflows/containers.yaml"
      - ".github/workflows/build-container-reuse.yaml"
  workflow_dispatch:
  merge_group:
    types: [checks_requested]

jobs:
  build:
    strategy:
      matrix:
        container:
          - ansible
          - dnsmasq
          - ironic-nautobot-client
          - understack-tests
          - shell-operator-ironic
          - nautobot
    uses: ./.github/workflows/build-container-reuse.yaml
    secrets: inherit
    with:
      container_name: ${{ matrix.container }}
      dockerfile_path: containers/${{ matrix.container }}/Dockerfile
      target: prod
