---
name: pre-commit

on:  # yamllint disable-line rule:truthy
  pull_request:
  push:
    branches:
      - main
  merge_group:
    types: [checks_requested]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        id: setup-python
        with:
          python-version: '3.13'
          cache: 'pip'
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
      - run: pip install pre-commit
      - name: "run pre-commit"
        run: |
          pre-commit run --all-files --show-diff-on-failure
