---
name: Secrets scanning
on: # yamllint disable-line rule:truthy
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
  merge_group:
    types: [checks_requested]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        id: git-intel
        with:
          script: |
            let depth = 0;
            let branch = "";
            core.debug(context.payload)
            if (context.eventName == "push")  {
              depth = context.payload.commits.length
              branch = context.ref
            }

            if (context.eventName == "pull_request") {
              depth = context.payload.pull_request.commits
              branch = context.payload.pull_request.head.ref
            }

            depth = depth + 2
            core.info(`Will fetch ${depth} commits from ${branch}.`)
            return { "depth": depth, "branch": branch }
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          ref: ${{steps.git-intel.outputs.result.branch}}
          fetch-depth: ${{steps.git-intel.outputs.result.depth}}
      - name: Secret Scanning
        uses: trufflesecurity/trufflehog@main
        with:
          extra_args: --results=verified,unknown
