# https://github.com/crate-ci/typos
name: Typos Spell Checker

on:
  push:
  pull_request:
  workflow_dispatch:
  merge_group:
    types: [checks_requested]

jobs:
  spellcheck:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Typos Spell Checker
        uses: crate-ci/typos@626c4bedb751ce0b7f03262ca97ddda9a076ae1c # v1.39.2
        with:
          config: ./.typos.toml
