# https://github.com/crate-ci/typos
name: Typos Spell Checker

on:
  push:
  pull_request:
  workflow_dispatch:
  merge_group:
    types: [checks_requested]

jobs:
  spellcheck:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Typos Spell Checker
        uses: crate-ci/typos@2d0ce569feab1f8752f1dde43cc2f2aa53236e06 # v1.40.0
        with:
          config: ./.typos.toml
