# https://github.com/crate-ci/typos
name: Typos Spell Checker

on:
  push:
  pull_request:
  workflow_dispatch:
  merge_group:
    types: [checks_requested]

jobs:
  spellcheck:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Typos Spell Checker
        uses: crate-ci/typos@2d0ce569feab1f8752f1dde43cc2f2aa53236e06 # v1.40.0
        with:
          config: ./.typos.toml
