# https://github.com/crate-ci/typos
name: Typos Spell Checker

on:
  push:
  pull_request:
  workflow_dispatch:
  merge_group:
    types: [checks_requested]

jobs:
  spellcheck:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Typos Spell Checker
        uses: crate-ci/typos@85f62a8a84f939ae994ab3763f01a0296d61a7ee # v1.36.2
        with:
          config: ./.typos.toml
