name: Releases
on:
  push:
    tags:
      - "understackctl/v[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: write
  packages: write
  id-token: write
  issues: write

jobs:
  goreleaser:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 1

      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: stable
          cache: true

      - name: Install dependencies
        run: sudo apt-get install -y sed grep

      - name: Build and Package
        working-directory: go/understackctl
        run: |
          make build-all package-all checksums

      - name: Upload release artifacts
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2
        with:
          files: |
            go/understackctl/build/*.zip
            go/understackctl/build/*.tar.gz
            go/understackctl/build/checksums.txt
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
