name: Releases
on:
  push:
    tags:
      - "understackctl/v[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: write
  packages: write
  id-token: write
  issues: write

jobs:
  goreleaser:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 1

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: stable
          cache: true

      - name: Install dependencies
        run: sudo apt-get install -y sed grep

      - name: Build and Package
        working-directory: go/understackctl
        run: |
          make build-all package-all checksums

      - name: Upload release artifacts
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        with:
          files: |
            go/understackctl/build/*.zip
            go/understackctl/build/*.tar.gz
            go/understackctl/build/checksums.txt
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
